In [1]:
import pandas as pd

# Parameters

In [5]:
# Parameters. https://papermill.readthedocs.io/en/latest/usage-parameterize.html

PATH = "../data/COVID_keywords.xlsx"

# Rules

Python script that would convert the keywords from the attached Excel file to Twitter queries that can be submitted to the Twitter API? The Excel file includes four columns: (1) keyword, (2) language, (3) filter, and (4) volume.
 
The logic of the Excel file template is the following:

- The keywords from the first row reads: “covid, coronavirus, corona virus”. This means we will be collecting tweets that feature [covid OR coronavirus OR (corona AND virus) anywhere in the tweet] AND at least one of the words from the filter list. I am currently separating the keywords using a comma. Let me know if another delimiter is preferred.
- The languages are also delimited by a comma. This means that the above mentioned condition results in 4 different queries; one for each language listed here.
- I have also inserted a volume column, which measures the max number of tweets to be downloaded per day (we could also use a percentage of daily volume if that is preferred; by using an absolute volume constraint we have more control over the total volume).
- In our example, that means that the first row from the Excel file results in 4 different queries (one for each language).
- The second row results in one query (with one keyword; search for the listed word anywhere in the tweet, with or without the hashtag) as one language has been selected here.

In [11]:
df = pd.read_excel(PATH)

Applying logic according to the items described by Roy,

In [12]:
df["keyword"] = df["keyword"].str.split(",")
df["keyword"] = df["keyword"].apply(lambda x: ' OR '.join('(' + item.strip() + ')' for item in x))

In [13]:
df["filter"] = df["filter"].str.split(",")
df["filter"] = df["filter"].apply(lambda x: ' OR '.join(item.strip() for item in x))

In [22]:
df

,keyword,language,filter,volume,table_name,table_group,country,from_date,to_date
0,(covid) OR (coronavirus) OR (corona virus),en,""" vaccin"" OR "" vacuna"" OR ""لقح"" OR ""لقاح"" OR ""...",10000,covid_en,Covid,Global,2020-07-01,2021-11-01
1,(covid) OR (coronavirus) OR (corona virus),fr,""" vaccin"" OR "" vacuna"" OR ""لقح"" OR ""لقاح"" OR ""...",10000,covid_fr,Covid,Global,2020-07-01,2021-11-01
2,(covid) OR (coronavirus) OR (corona virus),es,""" vaccin"" OR "" vacuna"" OR ""لقح"" OR ""لقاح"" OR ""...",10000,covid_es,Covid,Global,2020-07-01,2021-11-01
3,(covid) OR (coronavirus) OR (corona virus),ar,""" vaccin"" OR "" vacuna"" OR ""لقح"" OR ""لقاح"" OR ""...",10000,covid_ar,Covid,MENA,2020-07-01,2021-11-01
4,(كورونا),ar,""" vaccin"" OR "" vacuna"" OR ""لقح"" OR ""لقاح"" OR ""...",10000,arabic_corona_ar,Covid,MENA,2020-07-01,2021-11-01

And the resulting **queries**,

In [46]:
df["query"] = "(" + df['keyword'] + ") (" + df['filter'] + ") lang:" + df['language']

For example,

In [47]:
df.iloc[0]["query"]

'((covid) OR (coronavirus) OR (corona virus)) (" vaccin" OR " vacuna" OR "لقح" OR "لقاح" OR "تلقيح" OR "فايزر" OR "أسترازينكا" OR "سينوفارم" OR "جونسون" OR "سبوتنيك" OR "مودرنا" OR "نوفافاكس" OR "pfizer" OR "astrazeneca" OR "sinopharm" OR "johnson" OR "sputnik" OR "moderna" OR "novavax") lang:en'